@model Services.Models.SchedullingViewModel


<table class="table table-bordered">
    <thead class="text-white" style="background: #504a4a;">
        <tr>
            <th class="text-center">SUN</th>
            <th class="text-center">MUN</th>
            <th class="text-center">TUE</th>
            <th class="text-center">WED</th>
            <th class="text-center">THU</th>
            <th class="text-center">FRI</th>
            <th class="text-center">SAT</th>
        </tr>
    </thead>
    <tbody>
        @* @{
            int weekday = 1, temp = 1;
            var firstday = new DateTime(Model.ShiftDate.Year, Model.ShiftDate.Month, weekday);
            var lastday = firstday.AddMonths(1).AddSeconds(-1);
            for (int i = 0; i < 6; i++)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        if (weekday <= lastday.Day)
                        {
                            firstday = new DateTime(Model.ShiftDate.Year, Model.ShiftDate.Month, weekday);

                            if ((int)firstday.DayOfWeek == j)
                            {
                                <td class="text-center p-0" style="height:120px" id="@weekday">
                                    <div style="background-color:#ffc0e7" class="mb-1">@weekday</div>
                                    @{
                                        int count = 0;
                                        @foreach (var item in Model.ShiftDetailList)
                                        {
                                                if (shifts.ShiftDate!.Value.Day == weekday)
                                                {
                                                    if (count < 3)
                                                    {
                                                        <div style="black" class="mb-1 viewShift pointer" id="@shifts.ShiftDetailId" data-bs-toggle="modal" data-bs-target="#ViewShift">
                                                            @shifts.StartTime - @shifts.EndTime / <br>
                                                            @item.Shift.Physician.FirstName
                                                        </div>
                                                        count++;
                                                    }
                                                    else
                                                    {
                                                        break;
                                                    }
                                                }
                                        }
                                        if (count > 2)
                                        {
                                            <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ViewShift_@weekday">View All</button>
                                        }

                                        <div class="modal fade" id="ViewShift_@weekday" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header submitButton w-100">
                                                        <p class="modal-title" id="exampleModalLongTitle">View All Shift</p>
                                                        <button type="button" class="text-white border-0" style="background-color:transparent" data-bs-dismiss="modal" aria-label="Close">
                                                            <i class="bi bi-x-lg"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @foreach (var item in Model)
                                                        {
                                                            @foreach (var shifts in item.Shifts)
                                                            {
                                                                if (shifts.ShiftDate!.Value.Day == weekday)
                                                                {
                                                                    <div style="background-color:@Status[shifts.Status];" class="mb-1 viewShift pointer" id="@shifts.ShiftDetailId" data-bs-dismiss="modal">
                                                                        @shifts.StartTime - @shifts.EndTime / <br>
                                                                        @item.PhysicianName
                                                                    </div>
                                                                }
                                                            }
                                                        }
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn text-info border border-info" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                </td>
                                weekday++;
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>

                if (weekday > lastday.Day)
                {
                    break;
                }
            }
        } *@
    </tbody>
</table>