@model Services.Models.SchedullingViewModel


<table class="table table-bordered">
    <thead class="text-white" style="background: #504a4a;">
        <tr>
            <th class="text-center">SUN</th>
            <th class="text-center">MUN</th>
            <th class="text-center">TUE</th>
            <th class="text-center">WED</th>
            <th class="text-center">THU</th>
            <th class="text-center">FRI</th>
            <th class="text-center">SAT</th>
        </tr>
    </thead>
    <tbody>
        @{
            int weekday = 1, temp = 1;
            var firstday = new DateTime(Model.ShiftDate.Year, Model.ShiftDate.Month, weekday);
            var lastday = firstday.AddMonths(1).AddSeconds(-1);
            for (int i = 0; i < 6; i++)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        if (weekday <= lastday.Day)
                        {
                            firstday = new DateTime(Model.ShiftDate.Year, Model.ShiftDate.Month, weekday);

                            if ((int)firstday.DayOfWeek == j)
                            {
                                <td class="text-center p-0" style="height:120px" id="@weekday">
                                    <div style="background-color:#ffc0e7" class="mb-1">@weekday</div>
                                    @{
                                        int count = 0;
                                        @foreach (var item in Model.ShiftDetailList)
                                        {
                                            if (item.ShiftDate!.Day == weekday)
                                            {
                                                if (count < 3)
                                                {
                                                    <div onclick="viewshift(@item.ShiftDetailId)" style="cursor:pointer;" class="status_@item.Status mb-1 viewShift pointer" id="@item.ShiftDetailId" data-bs-toggle="modal" data-bs-target="#ViewShift">
                                                        @item.StartTime - @item.EndTime <br>
                                                        @item.Shift.Physician.FirstName
                                                    </div>
                                                    count++;
                                                }
                                                else
                                                {
                                                    break;
                                                }
                                            }
                                        }
                                        if (count > 2)
                                        {
                                        }
                                    }
                                </td>
                                weekday++;
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                </tr>

                if (weekday > lastday.Day)
                {
                    break;
                }
            }
        }
    </tbody>
</table>