@model Services.Models.CreateNewShift


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-0 rounded-3">
            <form  method="post">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="staticBackdropLabel">View Shift</h5>
                    <button type="button" class="btn-close bg-black" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class=" gap-2">
                        <div class="form-floating mb-3">
                            <select asp-for="RegionId" disabled class="form-select text-secondary regionData" id="floatingSelect" aria-label="Floating label select example">
                                <option value="@Model.RegionId" selected>@Model.RegionName</option>
                            </select>
                            <label for="floatingSelect">Narrow Search By Region</label>

                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="PhysicianName" disabled class="form-select text-secondary physician py-1" id="physelect" aria-label="Floating label select example">
                                <option value="@Model.PhysicianId" selected>@Model.PhysicianName</option>
                            </select>
                            <label for="physelect"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" asp-for="ShiftDate" class="form-control Editshift" id="shidtdate" placeholder="shift date" disabled />
                            <label for="shidtdate" class=""></label>
                            <span asp-validation-for="ShiftDate" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class=" form-floating mb-3">
                                    <input asp-for="Start" type="time" class="form-control Editshift" id="start" placeholder="start" disabled />
                                    <label for="start" class="">Start</label>
                                    <span asp-validation-for="Start" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="End" type="time" class="form-control Editshift" id="end" placeholder="end" disabled />
                                    <label for="end" class="">End</label>
                                    <span asp-validation-for="End" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" asp-action="ReturnShift" asp-route-ShiftDetailId="@Model.ShiftDetailId" class="btn bg-info text-white assign">Return</button>
                    <button type="button" id="edit"  class="btn border border-info text-info">Edit</button>
                    <button type="button" id="save"  class="btn bg-info text-white assign">Save</button>
                    <a asp-action="DeleteShift" asp-route-ShiftDetailId="@Model.ShiftDetailId" class="btn bg-danger text-white">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $("#save").css('display', 'none');
    $('#edit').on('click', function () {
        $('.Editshift').each(function () {
            $(this).prop('disabled', false);
        })
        $("#save").css('display', 'inline-block');
        $(this).css('display', 'none');
    })

    $("#save").on("click", function () {
        var formdata = {
            ShiftDetailId: @Model.ShiftDetailId,
            ShiftDate: $('#shidtdate').val(),
            Start: $('#start').val(),
            End: $('#end').val(),
        }
        $.ajax({
            url: "/Admin/EditShift",
            type: "POST",
            data: formdata,
            success: function () {
                Day();
                window.location.reload();
            },
            error: function (error) {
                console.log(error)
            }
        });
        $('.Editshift').each(function () {
            $(this).prop('disabled', true);
        })
        $("#edit").css('display', 'inline-block');
        $(this).css('display', 'none');
    })
</script>