@model Services.Models.SchedullingViewModel



<table class="table table-bordered">
    <thead class="text-white" style="background: #504a4a;">

        <tr>
            <th class="" style="">STAFF</th>
            <th class="text-center">SUN @Model.ShiftDate.Date.Day </th>
            <th class="text-center">MUN @Model.ShiftDate.Date.AddDays(1).Day</th>
            <th class="text-center">TUE @Model.ShiftDate.Date.AddDays(2).Day</th>
            <th class="text-center">WED @Model.ShiftDate.Date.AddDays(3).Day</th>
            <th class="text-center">THU @Model.ShiftDate.Date.AddDays(4).Day</th>
            <th class="text-center">FRI @Model.ShiftDate.Date.AddDays(5).Day</th>
            <th class="text-center">SAT @Model.ShiftDate.Date.AddDays(6).Day</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">Coverage</td>
            @for (int i = 0; i < 7; i++)
            {
                <td class="text-center" style="background:#efabd2">0/24</td>
            }
        </tr>
        @foreach (var obj in Model.physicians)
        {
            var shift = Model.ShiftDetailList.Where(u => u.Shift.PhysicianId == obj.PhysicianId).ToList();
            <tr>
                <td>
                    <div>
                        @if (obj.Photo == null)
                        {
                            <img src="/Images/doctorimage.png" class="me-1" width="50" height="50" />
                            @obj.FirstName
                        }
                        else
                        {
                            <img src="~/uploads/@obj.Photo" style="height: 25px; width: 25px;"/>
                            @obj.FirstName
                        }
                    </div>
                </td>
                @for (var a = 0; a <= 6; a++)
                {
                    <td id="i_@obj.PhysicianId" class="p-0">
                        @foreach (var shifts in shift)
                        {
                            if (shifts.ShiftDate.Date == Model.ShiftDate.Date.AddDays(a))
                            {
                                <button onclick="viewshift(@shifts.ShiftDetailId)" class="status_@shifts.Status dates mb-1 d-flex align-items-center justify-content-center border-0 viewshiftbtn" @* value="@item.ShiftId" *@ style="width:100%;">
                                    @shifts.StartTime.ToString("hh:mm tt")-@shifts.EndTime.ToString("hh:mm tt")
                                </button>
                            }
                        }
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
@* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function viewshift(ShiftDetailId) {
        $.ajax({
            url: "/Admin/ViewShift/",
            type: "POST",
            data: { "ShiftDetailId": ShiftDetailId },
            dataType: "html",
            success: function (data) {
                $("#shift").html(data);
                const myModal = new bootstrap.Modal("#staticBackdrop", {});
                myModal.show();
            },
            error: function () {
                alert("No Projects Found");
                $("#shift").html('An error has occurred');
            }
        });
    };
</script> *@
