@{
    Layout = "";
}

@model Services.Models.AdminDashboardViewModel


<table class="table table-responsive d-md-table d-none">
    <thead class=" table-secondary">
        <tr>
            <th scope="col">Name</th>
            <th></th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Requestor</th>
            <th scope="col">Physician Name</th>
            <th>Date of Service</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Notes</th>
            <th scope="col">Chat With</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.requestClients)
        {
            <tr class="style_@item.Request.RequestTypeId">
                <td scope="row">@item.FirstName, @item.LastName</td>
                <td><i class="bi bi-envelope h5"></i></td>
                <td>@item.StrMonth @item.IntDate, @item.IntYear</td>
                @switch (item.Request.RequestTypeId)
                {
                    case 1:
                        <td>Patient @item.Request.FirstName, @item.Request.LastName</td>
                        break;
                    case 2:
                        <td>Family/Friend @item.Request.FirstName, @item.Request.LastName</td>
                        break;
                    case 3:
                        <td>Business @item.Request.FirstName, @item.Request.LastName</td>
                        break;
                    case 4:
                        <td>Concierge @item.Request.FirstName, @item.Request.LastName</td>
                        break;
                }
                <td>@item.Request.Physician!.FirstName,  @item.Request.Physician.LastName</td>
                <td>@item.Request.CreatedDate</td>

                <td>
                    @switch (item.Request.RequestTypeId)
                    {
                        case 1:
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.Request.PhoneNumber</button>
                            <div>Patient</div>
                            break;
                        case 2:
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.Request.PhoneNumber</button>
                            <div>Patient</div>
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.PhoneNumber</button>
                            <div>Family/Friend</div>

                            break;
                        case 3:
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.Request.PhoneNumber</button>
                            <div>Patient</div>
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.PhoneNumber</button>
                            <div>Business</div>

                            break;
                        case 4:
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.Request.PhoneNumber</button>
                            <div>Patient</div>
                            <button type="button" class="btn border rounded-3 text-white"><i class="bi bi-telephone"></i>@item.PhoneNumber</button>
                            <div>Concierge</div>

                            break;
                    }
                </td>
                <td>@item.Street @item.City @item.State</td>
                <td>@item.Notes</td>
                <td><button type="button" class="btn border rounded-3 text-white"><i class="bi bi-person mr-1 h5"></i>Provider</button></td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn border rounded-3 text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item ps-3" asp-action="ViewCase" asp-route-request_id="@item.Request.RequestId"><i class="bi bi-list-check mr-1"></i> View Case</a></li>
                            <li><a class="dropdown-item ps-3" href="#"><i class="bi bi-list-check mr-1"></i> View Uploads</a></li>
                            <li><a class="dropdown-item ps-3" asp-action="ViewNotes" asp-route-request_id="@item.Request.RequestId"><i class="bi bi-list-check mr-1"></i> View Notes</a></li>
                            <li><a class="dropdown-item ps-3" asp-action="SendOrders" asp-route-request_id="@item.Request.RequestId"><i class="bi bi-x-circle mr-1"></i> Orders</a></li>
                            <li><a class="dropdown-item ps-3" href="#"><i class="bi bi-slash-circle mr-1"></i> Doctor Note</a></li>
                            <li><a class="dropdown-item ps-3" href="#"><i class="bi bi-slash-circle mr-1"></i> Encounter</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="accordion accordion-flush d-md-none d-block" id="accordionFlushExample">

    <div class="accordion-item">
        @foreach (var item in Model.requestClients)
        {
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-@item.RequestId" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#e7f1ff; color:black">

                    <div class="col d-flex flex-column">
                        <span class="">@item.FirstName, @item.LastName</span>
                        <span class=" mt-4">@item.Street @item.City @item.State</span>
                    </div>
                    <div class="col d-flex flex-column text-end mt-2 p-0">
                        <div>
                            @switch (item.Request.RequestTypeId)
                            {
                                case 1:
                                    <span>Patient</span>
                                    <i class="bi bi-circle-fill text-success h6"></i>
                                    break;
                                case 2:
                                    <span>Family/Friend</span>
                                    <i class="bi bi-circle-fill text-warning h6"></i>
                                    break;
                                case 3:
                                    <span>Business</span>
                                    <i class="bi bi-circle-fill " style="color:pink;"></i>
                                    break;
                                case 4:
                                    <span>Concierge</span>
                                    <i class="bi bi-circle-fill text-primary h6"></i>
                                    break;
                            }

                        </div>
                        <div>
                            <div class=" btn rounded-pill text-info border-info float-end p-1 mt-3" style="width:150px">
                                Map Location
                            </div>
                        </div>

                    </div>
                </button>
                <hr class="m-0">
            </h2>

            <div id="flush-collapseOne-@item.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black">
                <div class="accordion-body d-flex flex-column gap-1">
                    <div><i class="bi bi-envelope mr-1 icn"></i>Email: @item.Request.Email</div>
                    <div>
                        <i class="bi bi-telephone mr-1 icn"></i>Patient: @item.Request.PhoneNumber
                    </div>
                </div>
                <div class="row mx-3">
                    <div class="col-6 ps-0 pr-3 pb-2">
                        <a class="btn w-100 bg-success  text-white rounded-pill p-1 btn-sm">View Notes</a>
                    </div>
                    <div class="col-6 p-0 pb-2">
                        <a class="btn w-100 text-white rounded-pill p-1 btn-sm" style="background:#3c6b5d;">Doctor Note</a>
                    </div>
                    <div class="col-6 p-0 pr-3 pb-2">
                        <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">View Uploads</a>
                    </div>
                    <div class="col-6 p-0  pb-2">
                        <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">Encounter</a>
                    </div>
                    <div class="col-6 p-0 pr-3 pb-2">
                        <a class="btn w-100  bg-warning text-white rounded-pill p-1 btn-sm">Orders</a>
                    </div>
                    <div class="col-6 p-0  pb-2">
                        <a class="btn w-100 bg-info text-white rounded-pill p-1 btn-sm">House Call</a>
                    </div>
                    <div class="col-6 p-0 pr-3">
                        <a class="btn w-100 bg-success text-white rounded-pill p-1 btn-sm">Email</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="page-container">
    <ul class="pagination justify-content-center d-flex page-list">
        @for (int CurrentPage = 1; CurrentPage <= Model.TotalPage; CurrentPage++)
        {
            <li class="m-2 btn @(CurrentPage == Model.CurrentPage ? "page-active" : "")" onclick="changepage(@CurrentPage)"><a class="text-decoration-none text-black curent-page-index" data-page="@CurrentPage">@CurrentPage</a></li>
        }
    </ul>

</div>