@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

@model Services.Models.AdminDashboardViewModel

<div class="d-flex justify-content-center">
    <div class="" style="width:95%">

        <div class="row  mt-3 mb-4 mx-auto">

            <div class="col-md-2 col-4 px-2 pb-2 status" id="1">
                <div class="px-2 py-1 new newActive rounded-3 pt-1 text-md-left text-center" id="pills-new-tab" onclick="newState()">

                    <i class="bi bi-patch-plus icons "></i>

                    <span class="ms-1 Txt fw-bold newTxt">NEW</span>

                    <span class="mt-2 h4 newTxt d-block">@Model.newCount</span>
                </div>
            </div>
            <div class="col-md-2 col-4 px-2 pb-2 status" id="2">
                <div class="px-2 py-1 rounded-3 pending pt-1 text-md-left text-center" id="pills-pending-tab" onclick="pendingState()">

                    <i class="bi bi-clock-history icons "></i>

                    <span class="ms-1 Txt fw-bold">PENDING</span>

                    <span class="mt-2 h4 d-block">@Model.pendingCount</span>
                </div>
            </div>
            <div class="col-md-2 col-4 px-2 pb-2 status" id="3">
                <div class="px-2 py-1 rounded-3 active pt-1 text-md-left text-center" id="pills-active-tab" onclick="activeState()">

                    <i class="bi bi-check2-circle icons "></i>

                    <span class="ms-1 Txt fw-bold">ACTIVE</span>

                    <span class="mt-2 h4 d-block">@Model.activeCount</span>
                </div>
            </div>
            <div class="col-md-2 col-4 px-2 status" id="4">
                <div class="px-2 py-1 rounded-3 conclude pt-1 text-md-left text-center" id="pills-conclude-tab" onclick="concludeState()">

                    <i class="bi bi-arrow-counterclockwise icons "></i>

                    <span class="ms-1 Txt fw-bold">CONCLUDE</span>

                    <span class="mt-2 h4 d-block">@Model.concludeCount</span>
                </div>
            </div>
            <div class="col-md-2 col-4 px-2 status" id="5">
                <div class="px-2 py-1 rounded-3 toclose pt-1 text-md-left text-center" id="pills-close-tab" onclick="closeState()">

                    <i class="bi bi-x-circle icons"></i>

                    <span class="ms-1 Txt fw-bold">TO CLOSE</span>

                    <span class="mt-2 h4 d-block">@Model.tocloseCount</span>
                </div>
            </div>
            <div class="col-md-2 col-4 px-2 status" id="6">
                <div class="px-2 py-1 rounded-3 unpaid pt-1 text-md-left text-center" id="pills-unpaid-tab" onclick="unpaidState()">
                    <span class=" fw-bold mt-2 icons">$</span>
                    <span class="ms-1 Txt fw-bold">UNPAID</span>

                    <span class="mt-2 h4 d-block">@Model.unpaidCount</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between mt-5 mb-3">
            <div>
                <span class="h4">Patient </span>
                <span class="text-primary fw-bold" id="status"></span>
            </div>
            <div class="d-flex gap-1">
                <a class="bg-info text-white rounded-3 p-2">
                    <i class="bi bi-reply h5 mr-1"></i>
                    <span class="link-text">Send Link</span>
                </a>
                <a class="bg-info text-white rounded-3 p-2">
                    <i class="bi bi-pencil-square  mr-1"></i>
                    <span class="link-text">Create Requests</span>
                </a>
                <a class="bg-info text-white rounded-3 p-2">
                    <i class="bi bi-reply-all  mr-1"></i>
                    <span class="link-text">Export</span>
                </a>
                <a class="bg-info text-white rounded-3 p-2">
                    <i class="bi bi-reply-all  mr-1"></i>
                    <span class="link-text">Export All</span>
                </a>
                <a class="bg-info text-white rounded-3 p-2">
                    <i class="bi bi-person-square  mr-1"></i>
                    <span class="link-text">Request DTY Support</span>
                </a>
            </div>
        </div>
        <div class="shadow rounded-3 pt-4">

            <div class="px-2 row" style="">
                <div class="form col-xl-3 col-md-6">
                    <input type="search" class="form-control form-input " id="searchpatient" onkeyup="searchpatient()" placeholder=" Search Patients">
                </div>
                <div class="form col-xl-3 col-md-6 mt-3 m-md-0">
                    <select class="form-select select-region" id="floatingSelect">
                        <option selected>All Regions</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>


                <div class="col-xl-6 col-md-12 mt-2 ms-1 m-xl-0 text-xl-end">
                    <button class="text-secondary mr-2 border-info rounded-2 bg-transparent selected">

                        <span>ALL</span>
                    </button>
                    <button class="text-secondary mr-2 border-0 bg-transparent selected" id="1">
                        <i class="bi bi-circle-fill text-success mr-1"></i>
                        <span>Patient</span>
                    </button>
                    <button class="text-secondary mr-2 border-0 bg-transparent selected" id="2">
                        <i class="bi bi-circle-fill text-warning mr-1"></i>
                        <span>Family/Friend</span>
                    </button>
                    <button class="text-secondary mr-2 border-0 bg-transparent selected" id="3">
                        <i class="bi bi-circle-fill mr-1" style="color:pink;"></i>
                        <span>Business</span>
                    </button>
                    <button class="text-secondary  mr-2 border-0 bg-transparent selected" id="4">
                        <i class="bi bi-circle-fill text-primary mr-1"></i>
                        <span>Concierge</span>
                    </button>
                    <button class="text-secondar border-0 bg-transparent">
                        <i class="bi bi-circle-fill mr-1" style="color:purple;"></i>
                        <span class="mr-2">VIP</span>
                    </button>
                </div>


            </div>

            <div id="tableContent" class="table-responsive mt-4 mb-5">
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
@* <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> *@
<script>
    // console.log("hello");

    // $(document).ready(function () {

    //     console.log("hello2");
    //     var url;
    //     $('.status').on('click', function (e) {
    //         console.log("two");
    //         e.preventDefault();
    //         var target = $(this).attr('id');
    //         console.log(target);
    //         var status;

    //         switch (target) {
    //             case '1':
    //                 status = '1';
    //                 url = '/Admin/NewState'
    //                 break;
    //             case '2':
    //                 status = '2';
    //                 url = '/Admin/PendingState'
    //                 break;
    //             case '3':
    //                 status = '3';
    //                 url = '/Admin/ActiveState'
    //                 break;
    //             case '4':
    //                 status = '4';
    //                 url = '/Admin/ConcludeState'
    //                 break;
    //             case '5':
    //                 status = '5';
    //                 url = '/Admin/ToCLoseState'
    //                 break;
    //             case '6':
    //                 status = '6';
    //                 url = '/Admin/UnpaidState'
    //                 break;
    //             default:
    //         }
    //         console.log(url);

    //     });

    //     $('.selected').on('click', function (e) {
    //         console.log("two");
    //         e.preventDefault();
    //         var target = $(this).attr('id');
    //         console.log(target);
    //         var requesttype;
    //         switch (target) {
    //             case '1':
    //                 requesttype = '1';
    //                 break;
    //             case '2':
    //                 requesttype = '2';
    //                 break;
    //             case '3':
    //                 requesttype = '3';
    //                 break;
    //             case '4':
    //                 requesttype = '4';
    //                 break;
    //             default:
    //         }
    //         $.ajax({
    //             url: url,
    //             data: { "status": status, "requesttype": requesttype },
    //             success: function (response) {
    //                 $('#tableContent').html(response);
    //             },
    //             error: function (xhr, status, error) {
    //                 console.error(error);
    //             }
    //         });

    //     });
    // });

    var Page;
    var status;
    var url;
    var patientname;
    var requesttype;
    var currentpage;

    function AjaxAll() {
        $.ajax({
            url: url,
            type: "POST",
            data: { CurrentPage: Page, patientname: patientname, requesttype: requesttype },
            dataType: "html",
            success: function (data) {
                // console.log(data);
                console.log("hello");
                $("#tableContent").html(data);
                $("#status").html("(New)");
                // console.log(url);

            },
            error: function (error) {
                console.log(error)
                // alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    }

    $(".selected").click(function () {
        var requestType = $(this).attr('id');
        console.log(requestType);

        switch (requestType) {
            case '1':
                requestType = 1;
                break;
            case '2':
                requestType = 2;
                break;
            case '3':
                requestType = 3;
                break;
            case '4':
                requestType = 4;
                break;
            default:
        }
        requesttype = requestType;
        AjaxAll();
    })

    function changepage(CurrentPage) {
        console.log("pagination");
        Page = CurrentPage;
        console.log(Page);
        AjaxAll();
    }

    function searchpatient() {
        patientname = $("#searchpatient")[0].value;
        console.log(patientname);
        AjaxAll();
    }

    $(document).ready(function () {
        $.ajax({
            url: "/Admin/NewState",
            type: "POST",
            data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
            dataType: "html",
            success: function (data) {
                console.log("hello");
                $("#tableContent").html(data);
                $("#status").html("(New)");
                status = "new";
                url = "/Admin/NewState";
            },
            error: function (error) {
                console.log(error)
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
        $('#pills-new-tab').click(function () {
            $.ajax({
                url: "/Admin/NewState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(New)");
                    status = "new";
                    url = "/Admin/NewState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pills-pending-tab').click(function () {
            $.ajax({
                url: "/Admin/PendingState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(Pending)");
                    url = "/Admin/PendingState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pills-active-tab').click(function () {
            $.ajax({
                url: "/Admin/ActiveState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(Active)");
                    url = "/Admin/ActiveState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pills-conclude-tab').click(function () {
            $.ajax({
                url: "/Admin/ConcludeState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(Conclude)");
                    url = "/Admin/ConcludeState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pills-close-tab').click(function () {
            $.ajax({
                url: "/Admin/ToCloseState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(To Close)");
                    url = "/Admin/ToCloseState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
        $('#pills-unpaid-tab').click(function () {
            $.ajax({
                url: "/Admin/UnpaidState",
                type: "POST",
                data: { CurrentPage: 1, patientname: patientname, requesttype: requesttype },
                dataType: "html",
                success: function (data) {
                    $("#tableContent").html(data);
                    $("#status").html("(Unpaid)");
                    url = "/Admin/UnpaidState";
                },
                error: function () {
                    alert("No Projects Found");
                    $("#tableContent").html('An error has occurred');
                }
            });
        });
    });


    function newState() {
        document.getElementById("pills-new-tab").classList.add("newActive");
        document.getElementById("pills-pending-tab").classList.remove("pendingActive");
        document.getElementById("pills-active-tab").classList.remove("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.remove("concludeActive");
        document.getElementById("pills-close-tab").classList.remove("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.remove("unpaidActive");
    }

    function pendingState() {
        document.getElementById("pills-new-tab").classList.remove("newActive");
        document.getElementById("pills-pending-tab").classList.add("pendingActive");
        document.getElementById("pills-active-tab").classList.remove("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.remove("concludeActive");
        document.getElementById("pills-close-tab").classList.remove("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.remove("unpaidActive");
    }
    function activeState() {
        document.getElementById("pills-new-tab").classList.remove("newActive");
        document.getElementById("pills-pending-tab").classList.remove("pendingActive");
        document.getElementById("pills-active-tab").classList.add("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.remove("concludeActive");
        document.getElementById("pills-close-tab").classList.remove("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.remove("unpaidActive");
    }
    function concludeState() {
        document.getElementById("pills-new-tab").classList.remove("newActive");
        document.getElementById("pills-pending-tab").classList.remove("pendingActive");
        document.getElementById("pills-active-tab").classList.remove("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.add("concludeActive");
        document.getElementById("pills-close-tab").classList.remove("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.remove("unpaidActive");
    }
    function closeState() {
        document.getElementById("pills-new-tab").classList.remove("newActive");
        document.getElementById("pills-pending-tab").classList.remove("pendingActive");
        document.getElementById("pills-active-tab").classList.remove("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.remove("concludeActive");
        document.getElementById("pills-close-tab").classList.add("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.remove("unpaidActive");
    }
    function unpaidState() {
        document.getElementById("pills-new-tab").classList.remove("newActive");
        document.getElementById("pills-pending-tab").classList.remove("pendingActive");
        document.getElementById("pills-active-tab").classList.remove("activeStateActive");
        document.getElementById("pills-conclude-tab").classList.remove("concludeActive");
        document.getElementById("pills-close-tab").classList.remove("tocloseActive");
        document.getElementById("pills-unpaid-tab").classList.add("unpaidActive");
    }
</script>
@if (TempData["Success"] != null)
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>
}