@model Services.Models.CloseCaseViewModel

@{
    ViewData["Title"] = "CloseCase";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Close Case</h4>
        <a asp-area="" asp-action="AdminDashboard" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow Document-content mt-3" style="">

        <div class="row pr-3">
            <div class="col-lg-8  col-12">
                <div class="h6 text-secondary">Patient Name</div>
                <div class="h5 text-info d-inline-block">@Model.PatientName</div>
                <div class="h5 d-inline-block">(ConfirmationNumber)</div>
            </div>
            <div class="col-lg-4 col-12 mt-2 text-lg-end pr-0">
                <button class="btn text-info border-2 border-info fw-bold">
                    Create Invoice Through QuickBooks
                </button>
            </div>
        </div>


        <div class="py-3 h5 fw-bold">Documents</div>
        <div class="table-responsive mt-2 d-md-block d-none">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th scope="col" style="width:55%">Documents</th>
                        <th scope="col" style="width:30%">Upload Date <i class="bi bi-arrow-up-short h5"></i></th>
                        <th class="text-center" scope="col" style="width:15%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Documents)
                    {
                        <tr>
                            <td>@item.Document</td>
                            <td>@item.UploadDate</td>
                            <td class="text-center">
                                <a href="~/uploads/@item.Document" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2" download="">
                                    <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="d-md-none d-block">
            <hr />
            @foreach (var item in Model.Documents)
            {
                <div>
                    <span>@item.Document</span>
                </div>
                <div class="my-3">
                    @item.UploadDate
                </div>
                <div class="">
                    <a href="~/uploads/@item.Document" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2" download>
                        <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                    </a>
                </div>
            <hr />
            }
        </div>

        <form asp-action="SaveCloseCase" asp-route-request_id="@Model.RequestId" method="post">
            <div class="patient-info mt-3">
                <div class="h5 mb-4 fw-bold">Patient Information</div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" asp-for="FirstName" class="form-control" id="floatingInput"
                                   placeholder="your first name" disabled />
                            <label for="floatingInput" class="">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" asp-for="LastName" class="form-control" id="floatingInput" placeholder="last name" disabled />
                            <label for="floatingInput" class="">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="date" asp-for="DOB" class="form-control" id="floatingInput" placeholder="date of birth" disabled />
                            <label for="floatingInput" class="">Date of Birth</label>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-10 col-9">
                        <div class="form-floating  mb-3">
                            <input type="tel" asp-for="PhoneNumber" class="form-control update" id="floatingInput" placeholder="phone number" disabled />
                            <label for="floatingInput" class="">Phone Number</label>
                            @* <i class="bi bi-phone" style="position: relative; bottom: 42px; left: 95%;"></i>  *@
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-2 col-3 p-0 ">

                        <button type="button" class="btn border-2 border-info rounded-2 text-info pt-2 pb-2 "><i class="bi bi-telephone h3 fw-bolder"></i></button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" asp-for="Email" class="form-control update" id="floatingInput"
                                   placeholder="abc@gmail.com" disabled />
                            <label for="floatingInput" class="">Email</label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="text-end mb-4">
                <button type="button" class="btn bg-info text-white rounded-3 d-inline-block fw-bold px-4 h5 edit" id="editbtn">Edit</button>
                <button type="button" onclick="CloseCaseRequest(@Model.RequestId)" class="btn bg-white text-info border-2 d-inline-block border-info rounded-3 fw-bold h5 edit">Close Case</button>
                <button type="submit" class="btn bg-info text-white rounded-3 d-none fw-bold px-4 h5 modify">Save Changes</button>
                <button type="reset" id="cancel" class="btn bg-white text-info border-2 d-none border-info rounded-3 fw-bold h5 modify">Cancel</button>
            </div>
        </form>


        <br />
        <br />
    </div>
</div>

<br />
<br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    document.getElementById('editbtn').addEventListener('click', function () {
        console.log("edit");
        var elements = document.getElementsByClassName('modify');
        var element = document.getElementsByClassName('edit');
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('d-none');
            elements[i].classList.add('d-inline-block');
        }
        for (var i = 0; i < element.length; i++) {
            element[i].classList.remove('d-inline-block');
            element[i].classList.add('d-none');
        }
        for (var i = 0; i < update.length; i++) {
            update[i].removeAttribute('disabled');
        }
    });
    document.getElementById('cancel').addEventListener('click', function () {
        var elements = document.getElementsByClassName('modify');
        var element = document.getElementsByClassName('edit');
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < elements.length; i++) {
            elements[i].classList.remove('d-inline-block');
            elements[i].classList.add('d-none');
        }
        for (var i = 0; i < element.length; i++) {
            element[i].classList.remove('d-none');
            element[i].classList.add('d-inline-block');
        }
        var update = document.getElementsByClassName('update');
        for (var i = 0; i < update.length; i++) {
            update[i].setAttribute('disabled', 'disabled');
        }
    });
    function CloseCaseRequest(request_id) {
        console.log("cancel");
        $.ajax({
            url: "/Admin/CloseCaseRequest/",
            type: "POST",
            data: { "request_id": request_id },
            dataType: "html",
            success: function (data) {
                console.log("close case")
            },
            error: function () {
                alert("No Projects Found");
                $("#cancelCase").html('An error has occurred');
            }
        });
    };
</script>