@model Services.Models.CreatePhysicianViewModel

@{
    ViewData["Title"] = "CreatePhysician";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Create Physician Account</h4>
        <a asp-area="" asp-action="Provider" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow rounded-3 Document-content mt-3" style="">
        <div class="h4 mb-4">Account Information</div>
        <form asp-action="CreatePhysicianAccount" enctype="multipart/form-data" method="post">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Username" class="form-control" id="floatingInput"
                               placeholder="username" />
                        <label for="floatingInput" class="">Username</label>
                        <span asp-validation-for="Username"  class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Password" class="form-control" id="password"
                               placeholder="password" />
                        <label for="password" class="">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-select" asp-for="role" id="role" aria-label="Floating label select example">
                            <option selected>Select Role</option>
                            @foreach (var item in Model.Role)
                            {
                                <option value="@item.RoleId">@item.Name</option>
                            }
                        </select>
                        <label for="floatingSelect">Role</label>
                        <span asp-validation-for="role" class="text-danger"></span>
                    </div>
                </div>


                <div class="h4 mt-4 mb-4">Physician Information</div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="firstname"
                               placeholder="first name" />
                        <label for="firstname" class="">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="lastname"
                               placeholder="last name" />
                        <label for="lastname" class="">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="email"
                               placeholder="abc@gmail.com" />
                        <label for="email" class="">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating  mb-3">
                        <input type="tel" asp-for="PhoneNumber" class="form-control pt-3 pb-3" id="phone">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="MediLiencense" class="form-control" id="medical"
                               placeholder="medical liencense" />
                        <label for="lastname" class="">Medical Lieanse #</label>
                        <span asp-validation-for="MediLiencense" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="NPI" class="form-control" id="npi"
                               placeholder="NPI Number" />
                        <label for="lastname" class="">NPI Number</label>
                        <span asp-validation-for="NPI" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-12">
                    @foreach (var item in Model.RegionList)
                    {
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" name="regionselected" type="checkbox" value="@item.RegionId">
                            <label class="form-check-label" for="inlineCheckbox1">@item.Name</label>

                        </div>
                        @* <span asp-validation-for="RegionSelected" class="text-danger"></span> *@

                    }
                </div>

                <div class="h4 mt-4 mb-4">Mailing & Billing information</div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="address1" class="form-control" id="address1"
                               placeholder="address 1" />
                        <label for="address1" class="">Address 1</label>
                        <span asp-validation-for="address1" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="address2" class="form-control" id="address2"
                               placeholder="address 2" />
                        <label for="address2" class="">Address 2</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="city" class="form-control" id="city"
                               placeholder="city" />
                        <label for="city" class="">City</label>
                        <span asp-validation-for="city" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select py-2 text-secondary" asp-for="state" id="state" aria-label="Floating label select example">
                            <option selected disabled>State</option>
                            @foreach (var item in Model.RegionList)
                            {
                                <option value="@item.RegionId">@item.Name</option>
                            }
                        </select>
                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="zip" class="form-control" id="zip"
                               placeholder="zipcode" />
                        <label for="zip" class="">Zip</label>
                        <span asp-validation-for="zip" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating  mb-3">
                        <input type="tel" asp-for="altphonenumber" class="form-control pt-3 pb-3" id="phone1">
                        <span asp-validation-for="altphonenumber" class="text-danger"></span>


                    </div>
                </div>

                <div class="h4 mt-4 mb-4">Provider Profile</div>



                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BusinessName" class="form-control" id="businessname"
                               placeholder="business name" />
                        <label for="businessname" class="">Business Name</label>
                        <span asp-validation-for="BusinessName" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="BusinessWeb" class="form-control" id="businesswebsite"
                               placeholder="business website" />
                        <label for="businesswebsite" class="">Business Website</label>
                        <span asp-validation-for="BusinessWeb" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3 border d-flex justify-content-between flex-row">
                        <input type="file" asp-for="Photo" class="form-control" id="inputGroupFile04" accept="image/*" style="display: none;">
                        <label class="my-auto ms-2" id="photoselect">Select Photo</label>
                        <label class=" bg-info text-white d-flex flex-row mb-0 p-2 border rounded-3" for="inputGroupFile04">
                            <i class="bi bi-cloud-arrow-up"></i>
                            <span class="ms-1 mt-0">Upload</span>
                        </label>
                    </div>

                        <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="AdminNotes" class="form-control" placeholder="admin notes"
                                  id="adminnotes" style="height: 100px"></textarea>
                        <label for="adminnotes" class="">
                            Admin Notes
                        </label>
                        <span asp-validation-for="AdminNotes" class="text-danger"></span>

                    </div>
                </div>



            </div>
            <hr />
            <div class="h5">Onboarding</div>
            <div class="d-flex align-items-center mb-3">
                <input type="checkbox" id="checkagree" class="checks mr-4" disabled />
                <span class="" style="width:60%;">Independent Contractor Agreement</span>
                <div class="file btn btn-info">
                    <i class="bi bi-cloud-arrow-up"></i>
                    Upload
                    <input type="file" id="AggrementDoc" asp-for="AggrementDoc" class="selectfile" accept=".pdf,.png" />
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <input type="checkbox" id="checkback" class="checks mr-4" disabled />
                <span class="" style="width:60%;">Background Check</span>
                <div class="file btn btn-info">
                    <i class="bi bi-cloud-arrow-up"></i>
                    Upload
                    <input type="file" id="BackgoundDoc" asp-for="BackgoundDoc" class="selectfile" accept=".pdf,.png" />
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <input type="checkbox" id="checkhipaa" class="checks mr-4" disabled />
                <span class="" style="width:60%;">HIPAA Compliance</span>
                <div class="file btn btn-info">
                    <i class="bi bi-cloud-arrow-up"></i>
                    Upload
                    <input type="file" id="HipaaDoc" asp-for="HipaaDoc" class="selectfile" accept=".pdf,.png" />
                </div>
            </div>
            <div class="d-flex align-items-center mb-3">
                <input type="checkbox" id="checkdisclosure" class="checks mr-4" disabled accept=".pdf,.png" />
                <span class="" style="width:60%;">Non-disclosure Agreement</span>
                <div class="file btn btn-info">
                    <i class="bi bi-cloud-arrow-up"></i>
                    Upload
                    <input type="file" id="DisclosureDoc" asp-for="DisclosureDoc" class="selectfile" />
                </div>
            </div>
            <hr />
            <div class="text-end">

                <button type="submit" id="edit" class="btn bg-success text-white h5 px-4 fw-bold  mb-0">Create Account</button>
            </div>
            <br />
            <br />
        </form>


    </div>
</div>
<br />
<br />
<br />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
    $('#AggrementDoc').on('change', function () {
        if ($('#AggrementDoc')[0].files.length > 0) {
            $('#checkagree').prop('checked', true);
        }

    })
    $('#BackgoundDoc').on('change', function () {
        if ($('#BackgoundDoc')[0].files.length > 0) {
            $('#checkback').prop('checked', true);

        }

    })
    $('#HipaaDoc').on('change', function () {
        if ($('#HipaaDoc')[0].files.length > 0) {
            $('#checkhipaa').prop('checked', true);

        }

    })
    $('#DisclosureDoc').on('change', function () {
        if ($('#DisclosureDoc')[0].files.length > 0) {
            $('#checkdisclosure').prop('checked', true);

        }

    })

    const uploadbtn = document.getElementById('inputGroupFile04');
    const file = document.getElementById('photoselect');

    uploadbtn.addEventListener('change', function () {
        console.log('hello');
        if (this.files.length == 1) {
            file.textContent = this.files[0].name
        }
        else {
            file.textContent = this.files.length + " File Selected";
        }
        //file.textContent = this.files[0].name;
        file.style.fontSize = "large";
    })

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phone1InputField = document.querySelector("#phone1");
    const phone1Input = window.intlTelInput(phone1InputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>