@model Services.Models.CreateAdminViewModel

@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Edit Admin Account</h4>
        <a asp-area="" asp-action="Access" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow rounded-3 Document-content mt-3" style="">
        <div class="h4 mb-4">Account Information</div>
        <form asp-action="CreateAdminAccount" enctype="multipart/form-data" method="post">

            <div class="row">

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Username" class="form-control" id="floatingInput"
                               placeholder="username" />
                        <label for="floatingInput" class="">Username</label>
                        <span asp-validation-for="Username" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="Password" class="form-control" id="password"
                               placeholder="password" />
                        <label for="password" class="">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating">
                        <select class="form-select" asp-for="role" id="role" aria-label="Floating label select example">
                            <option value="" selected disabled></option>
                            @foreach (var item in Model.Role)
                            {
                                <option value="@item.RoleId">@item.Name</option>
                            }
                        </select>
                        <label for="floatingSelect">Select Role</label>
                        <span asp-validation-for="role" class="text-danger"></span>
                    </div>
                </div>


                <div class="h4 mt-4 mb-4">Admin Information</div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="FirstName" class="form-control" id="firstname"
                               placeholder="first name" />
                        <label for="firstname" class="">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="LastName" class="form-control" id="lastname"
                               placeholder="last name" />
                        <label for="lastname" class="">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="email" asp-for="Email" class="form-control" id="email"
                               placeholder="abc@gmail.com" />
                        <label for="email" class="">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating  mb-3">
                        <input type="tel" asp-for="PhoneNumber" class="form-control pt-3 pb-3" id="phone">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="MediLiencense" class="form-control" id="medical"
                               placeholder="medical liencense" />
                        <label for="lastname" class="">Medical Lieanse #</label>
                        <span asp-validation-for="MediLiencense" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="NPI" class="form-control" id="npi"
                               placeholder="NPI Number" />
                        <label for="lastname" class="">NPI Number</label>
                        <span asp-validation-for="NPI" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-12">
                    @foreach (var item in Model.RegionList)
                    {
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" name="regionselected" type="checkbox" value="@item.RegionId">
                            <label class="form-check-label" for="inlineCheckbox1">@item.Name</label>

                        </div>
                        @* <span asp-validation-for="RegionSelected" class="text-danger"></span> *@

                    }
                </div>

                <div class="h4 mt-4 mb-4">Mailing & Billing information</div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="address1" class="form-control" id="address1"
                               placeholder="address 1" />
                        <label for="address1" class="">Address 1</label>
                        <span asp-validation-for="address1" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="address2" class="form-control" id="address2"
                               placeholder="address 2" />
                        <label for="address2" class="">Address 2</label>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="city" class="form-control" id="city"
                               placeholder="city" />
                        <label for="city" class="">City</label>
                        <span asp-validation-for="city" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select class="form-select py-2 text-secondary" asp-for="state" id="state" aria-label="Floating label select example">
                           <option selected disabled>State</option>
                           @foreach (var item in Model.RegionList)
                            {
                                <option value="@item.RegionId">@item.Name</option>
                            }
                        </select>

                        <span asp-validation-for="state" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" asp-for="zip" class="form-control" id="zip"
                               placeholder="zipcode" />
                        <label for="zip" class="">Zip</label>
                        <span asp-validation-for="zip" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating  mb-3">
                        <input type="tel" asp-for="altphonenumber" class="form-control pt-3 pb-3" id="phone1">

                    </div>
                </div>
                <div class="text-end">

                    <button type="submit" id="edit" class="btn bg-success text-white h5 px-4 fw-bold  mb-0">Create Account</button>
                </div>



            </div>
            <br />
            <br />
        </form>


    </div>
</div>
<br />
<br />
<br />



<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phone1InputField = document.querySelector("#phone1");
    const phone1Input = window.intlTelInput(phone1InputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>