@model Services.Models.PatientHistoryViewModel

@{
    ViewData["Title"] = "PatientRecords";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container-fluid pt-4 px-5">

    <div class="d-flex justify-content-between pt-3 pb-3">
        <div class="h4 fw-bold">Patient Records</div>
        <a asp-area="" asp-action="PatientHistory" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>

    <div class="table-responsive rounded-3 shadow-lg pt-4">

        <table class="table  d-md-table d-none">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Client/Member</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Confirmation</th>
                    <th scope="col">Provider Name</th>
                    <th scope="col">Conclude Date</th>
                    <th scope="col">Status</th> 
                    <th class="text-center" scope="col">Final Report</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="temp">
                @foreach (var item in Model.requestClients)
                {
                    <tr>
                        <td>@item.FirstName, @item.LastName</td>
                        <td>@item.Request.CreatedDate.ToString("MMM d, yyyy")</td>
                        <td>@item.Request.ConfirmationNumber</td>
                        <td>@item.Request.Physician?.FirstName</td>
                        <td>Conclude Date</td>
                        <td>@Enum.Parse(typeof(Common.Enum.RequestStatus), @item.Request.Status.ToString())</td>
                        <td class="text-center">
                            <button type="button" class="btn text-info border-2 border-info fw-bold rounded-3 px-2 h5 ">View</button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn text-info border-2 border-info fw-bold dropdown-toggle rounded-3 px-2 h5 " data-bs-toggle="dropdown" aria-expanded="false">Actions</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item ps-3" asp-action="ViewCase" asp-route-request_id="@item.Request.RequestId"><i class="bi bi-list-check mr-1"></i> View Case</a></li>
                                <li><a class="dropdown-item ps-3" id="chat"><i class="bi bi-x-circle mr-1"></i>Chat</a></li>
                                <li style="cursor:pointer;"><a class="dropdown-item ps-3" asp-action="ViewUploads" asp-route-request_id="@item.RequestId"><i class="bi bi-slash-circle mr-1" style="cursor:pointer;"></i>@item.Request.RequestWiseFiles.ToList().Count() Documents</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="accordion accordion-flush d-md-none d-block" id="accordionFlushExample">

            <div class="accordion-item">
                @foreach (var item in Model.requestClients)
                {
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-@item.RequestId" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#e7f1ff; color:black">

                            <div class="col d-flex flex-column">
                                <span class="">@item.FirstName, @item.LastName</span>
                                <span class=" mt-4">@item.Request.ConfirmationNumber</span>
                            </div>
                        </button>
                    </h2>

                    <div id="flush-collapseOne-@item.RequestId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="background-color:#e7f1ff; color:black">
                        <hr class="m-0">
                        <div class="accordion-body d-flex flex-column gap-1">
                            <div><i class="bi bi-calendar2-minus mr-2 icn text-info"></i>Created Date: @item.Request.CreatedDate.ToString("MMM d, yyyy")</div>
                            <div><i class="bi bi-person mr-2 icn text-info"></i>Provider: @item.Request.Physician?.FirstName</div>
                            <div><i class="bi bi-calendar2-minus mr-2 icn text-info"></i>Concluded Date: </div>
                            <div><i class="bi bi-check2 mr-2 icn text-info"></i>Status: @Enum.Parse(typeof(Common.Enum.RequestStatus), @item.Request.Status.ToString())</div>
                        </div>
                        <div class="text-end mx-3">
                            <a asp-action="ViewCase" asp-route-userid="@item.RequestId" class="btn text-info border-2 border-info fw-bold rounded-3 px-2 h5 ">View Case</a>
                            <a class="btn text-info border-2 border-info fw-bold rounded-3 px-2 h5 ">Documents</a>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>