@model Services.Models.PatientHistoryViewModel

@{
    ViewData["Title"] = "PatientRecords";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container-fluid pt-4 px-5">

    <div class="d-flex justify-content-between pt-3 pb-3">
        <div class="h4 fw-bold">Patient Records</div>
        <a asp-area="" asp-action="PatientHistory" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>

    <div class="table-responsive rounded-3 shadow-lg pt-4">

        <table class="table  d-md-table d-none">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Client/Member</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Confirmation</th>
                    <th scope="col">Provider Name</th>
                    <th scope="col">Conclude Date</th>
                    <th scope="col">Status</th> 
                    <th class="text-center" scope="col">Final Report</th>
                    <th class="text-center" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.requestClients)
                {
                    <tr>
                        <td>@item.FirstName, @item.LastName</td>
                        <td>@item.Request.CreatedDate.ToString("MMM d, yyyy")</td>
                        <td>@item.Request.ConfirmationNumber</td>
                        <td>@item.Request.Physician?.FirstName</td>
                        <td>Conclude Date</td>
                        <td>@Enum.Parse(typeof(Common.Enum.RequestStatus), @item.Request.Status.ToString())</td>
                        <td class="text-center">
                            <button type="button" class="btn text-info border-2 border-info fw-bold rounded-3 px-2 h5 ">View</button>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn text-info border-2 border-info fw-bold rounded-3 px-2 h5 ">Actions</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>