@model Services.Models.ViewNotesViewModel

@{
    ViewData["Title"] = "ViewNotes";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}



<div class="container pt-3">
    <div class="d-flex justify-content-between">
        <span class="h4">Notes</span>
        <a asp-action="AdminDashboard" class="btn back-btn border-2 border-info text-info px-2 pt-2 fw-bold">
            &lt; Back
        </a>
    </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="d-flex flex-row shadow rounded-3 p-3 m-0">

                    <i class="bi bi-arrow-left-right mr-3 h4"></i>
                    <div class="d-flex flex-column">
                        <p class="m-0 mb-1 fw-bold">Transfer Notes</p>
                        @if (Model.TransferNotes != null)
                        {
                            @foreach (var item in Model.TransferNotes!)
                            {
                                <p class="m-0 text-secondary">
                                    @item.Notes on @item.CreatedDate.ToString("MM/dd/yyyy")  at  @item.CreatedDate.ToString("h:mm tt")
                                </p>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-row shadow rounded-3 p-3 m-0">

                    <i class="bi bi-person mr-3 h4"></i>
                    <div class="d-flex flex-column">
                        <p class="m-0 mb-1 fw-bold">Physician Notes</p>
                        <p class="m-0 text-secondary">@Model.PhysicianNotes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="d-flex flex-row shadow rounded-3 p-3 m-0">

                    <i class="bi bi-person mr-3 h4"></i>
                    <div class="d-flex flex-column">
                        <p class="m-0 mb-1 fw-bold">Admin Notes</p>
                        <p class="m-0 text-secondary" id="notes">@Model.AdminNotes</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class=" shadow rounded-3 p-3">
                    <div class="form-floating mb-3">
                    <textarea class="form-control additionalnotes" placeholder="admin notes"
                                  id="additionalnotes" style="height: 100px"></textarea>
                        <label for="floatingTextarea2" class="">
                            Additional Notes
                        </label>    
                        <span id="noteserror" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-end mt-3 mb-2">
                    <button type="button" class="btn bg-info text-white rounded-3 send">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
        $('.additionalnotes').on('focus', function () {
            $('.additionalnotes').css('border', '');
            $('#noteserror').html('');
        });

        $('.send').on('click', function () {
            var filterdata = {  
                RequestId: @Model.RequestId,
                AdditionalNotes: $('.additionalnotes').val(),
            }
            if (filterdata.AdditionalNotes == "") {
                $('.additionalnotes').css('border', '1px solid red');
                $('#noteserror').html('Please Enter Notes');
            }
            else {
                $.ajax({
                    url: '/Admin/AddNotes',
                    data: filterdata,
                    success: function (response) {
                        $("#notes").html(filterdata.AdditionalNotes);
                        $('.additionalnotes').val('');
                        toastr.success('Notes Added Successfully');
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        });
</script>