@model Services.Models.ViewUploadsViewModel

@{
    ViewData["Title"] = "ViewUploads";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h4>Documents</h4>
        <a asp-area="" asp-action="AdminDashboard" class="btn border-2 border-info text-info p-2 px-3 fw-bold">
            &lt;  Back
        </a>

    </div>
    <div class="px-3 pt-4 shadow Document-content mt-3" style="">

        <div class="h6 text-secondary">Patient Name</div>
        <div class="h5 text-info d-inline-block">
            @Model.Name
        </div>
        <div class="h5 d-inline-block">
            @if (Model.ConfirmationNo != null)
            {
                @Model.ConfirmationNo
            }       
        </div>
        <div class="h6 text-secondary mt-3">Check here to review and add files that you or the Client/Member attached Request</div>
            
        <form asp-action="UploadDocuments" asp-route-request_id="@Model.RequestId" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3 mt-4 border rounded-3 d-flex justify-content-between flex-row">
                <input type="file" asp-for="Upload" class="form-control" id="inputGroupFile02" hidden multiple>
                <label class="my-auto ms-2 col-md-10 col-sm-9 col-8" for="inputGroupFile02" id="fileselect">Select file</label>
                <button type="submit" class=" btn bg-info text-white d-flex flex-row mb-0 p-2 border rounded-3 upload" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff"
                         class="bi bi-cloud-upload my-auto mx-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383" />
                        <path fill-rule="evenodd"
                              d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z" />
                    </svg>
                    <br />
                    <span>Upload</span>
                </button>
            </div>
        </form>
        <div class="d-flex justify-content-between pt-3">
            <h5>Documents</h5>
            <div class="d-flex gap-2">
                <a onclick="downloadSelectedFiles()" id="download" class="btn d-md-block d-none text-info border-2 border-info fw-bold ">
                    Download All
                </a>
                <a onclick="downloadSelectedFiles()" class="btn d-md-none d-block border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2">
                    <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                </a>
                <a id="delete-button" onclick="deleteAll()" class="btn d-md-block d-none text-info border-2 border-info fw-bold">
                    Delete All
                </a>
                <a id="delete-button" onclick="deleteAll()" class="btn d-md-none d-block border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2">
                    <i class="bi bi-trash text-info h4 fw-bolder"></i>
                </a>
                <a id="send-mail" onclick="sendmail()" class="btn d-md-block d-none text-info border-2 border-info fw-bold">
                    Send Mail
                </a>
                <a id="send-mail" onclick="sendmail()" class="btn d-md-none d-block border-2 border-info rounded-3 pb-2 pt-1 px-2">
                    <i class="bi bi-envelope text-info h4 fw-bolder"></i>
                </a>
            </div>

        </div>
        <div class="table-responsive mt-2 d-md-block d-none">
            <table class="table">
                <thead>
                    <tr class="table-secondary">
                        <th class="" style="width:5%"><input type="checkbox" id="All" /></th>
                        <th class="" scope="col" style="width:50%">Documents</th>
                        <th class=" " scope="col">Upload Date <i class="bi bi-arrow-up-short h5 arro"></i></th>
                        <th class="text-center" scope="col" style="width:20%">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Documents)
                    {
                        <tr>
                            <td><input type="checkbox" data-id="@item.DocumentId" class="ChildCheck" name="checkdoc" /></td>
                            <td><i class="bi bi-file-earmark-medical-fill mr-1 h5 fs-3" style="color:#f50707"></i>@item.Document</td>
                            <td>@item.UploadDate</td>
                            <td class="text-center">
                                <a href="~/uploads/@item.Document" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2" download="">
                                    <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                                </a>
                                <a onclick="Deletefile(@item.DocumentId,@Model.RequestId)" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2">
                                    <i class="bi bi-trash text-info h4 fw-bolder"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @foreach (var item in Model.Documents)
        {
            <div class="d-md-none d-block">
                <hr />
                <div>
                    <input type="checkbox" data-id="@item.DocumentId" class="ChildCheck" name="checkdoc" />
                    <span class="ms-1">@item.Document</span>
                </div>
                <div class="my-3">
                    @item.UploadDate
                </div>
                <div class="">
                    <a href="~/uploads/@item.Document" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2 mr-2" download="">
                        <i class="bi bi-cloud-arrow-down text-info h4 fw-bolder"></i>
                    </a>
                    <a onclick="Deletefile(@item.DocumentId,@Model.RequestId)" class="btn border-2 border-info rounded-3 pb-2 pt-1 px-2">
                        <i class="bi bi-trash text-info h4 fw-bolder"></i>
                    </a>
                </div>
                <hr />
            </div>
        }
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function Deletefile(DocumentId, RequestId) {
        console.log("hello")
        $.ajax({
            url: "/Admin/Delete",
            data: { DocumentId: DocumentId, RequestId: RequestId },
            type: "POST",
            dataType: "html",
            success: function (data) {
                window.location.reload();
                toastr.error('Document Deleted Successfully');
            },
            error: function () {
                alert("No Projects Found");
            }
        });
    };
    function deleteAll() {
        var selectedFiles = [];
        $("input[name='checkdoc']:checked").each(function () {
            var id = $(this).data('id');
            selectedFiles.push(id);
        });
        if (selectedFiles.length == 0) {
            toastr.error('Please select files');
        }
        else if (selectedFiles.length > 0) {    
            $.ajax({
                url: "/Admin/DeleteAll",
                type: "POST",
                data: {DocumentId: selectedFiles},
                success: function (result) {
                    window.location.reload();
                    $("input[type='checkbox']:checked").prop("checked", false);
                }
            });
        }
    };

    function sendmail() {
        var selectedFiles = [];
        $("input[name='checkdoc']:checked").each(function () {
            var id = $(this).data('id');
            selectedFiles.push(id);
        });
        if (selectedFiles.length == 0) {
            toastr.error('Please select files');
        }
        else if (selectedFiles.length > 0) {
            console.log(JSON.stringify(selectedFiles))
            console.log(selectedFiles)
            $.ajax({
                url: "/Admin/SendMail",
                type: "POST",
                data: { DocumentId: selectedFiles },
                success: function (result) {
                    toastr.success('Mail sent Successfully');

                    $("input[type='checkbox']:checked").prop("checked", false);

                }
            });
        }
    };
    $(document).ready(function () {
        $('#All').click(function () {
            $('.ChildCheck').prop('checked', this.checked);
        });

        // Handle individual checkbox clicks to update the leader checkbox state
        $('.ChildCheck').click(function () {
            $('#All').prop('checked', $('.ChildCheck:checked').length === $('.ChildCheck').length);
        });
    });


    // Function to handle download of selected files
    function downloadSelectedFiles() {

        var selectedFiles = document.querySelectorAll('input[name="checkdoc"]:checked');
        var fileUrls = [];
        if (selectedFiles.length === 0) {
            toastr.error('Please select files to download');
        }
        else {
            selectedFiles.forEach(function (checkbox) {
                var row = checkbox.closest('tr');
                var fileUrl = row.querySelector('a').getAttribute('href');
                fileUrls.push(fileUrl);
            });
            fileUrls.forEach(function (url) {
                var link = document.createElement('a');
                link.href = url;
                link.download = '';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
            $("input[type='checkbox']:checked").prop("checked", false);

        }
    }
</script>